.App {
  text-align: center;
}
button{
height: 40px;
min-width: 60px;
}

div.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
table{
width: 100%;
min-width: 600px;
}
.column_userId,.column_id,.column_button{
  width: 5%;
}
.column_title{
  width: 30%;
}
.column_body{
  width: 55%;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
